@import "@/styles/variable.scss";

#login {
  background-color: #F6F6F6;
  height: 100vh;
  .box {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    .box-title {
      flex: 1;
      text-align: center;
      font-size: 30px;
      color: #FEC900;
    }
    .box-subtitle{
      text-align: center;
      color: #888888;
      font-size: 20px;
      margin-bottom: 40px;
    }

    .sub-title {
      text-align: left;
    }

    .inp {
      margin: 10px 0px;
    }

    .footer {

      display: flex;
      justify-content: center;
      align-items: center;

      .left {
        
        border-color: rgba(254,201,0,1);
      }
      .right{
        flex: 1;
        text-align: center;
      }


    }
  }
}

.btn {
  text-align: center;
  padding: 15px 0;
  background-color: #ffffff;
}

#login /deep/ {}
