@import "@/styles/variable.scss";
#register {
    .box {
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    
        .title{
          text-align: center;
          font-size: 20px;
          color: #dddddd;
        }
        .info{
          text-align: center;
          font-size: 28px;
          margin: 20px;
        }
        .inp {
          margin: 10px 0px;
        }
    
        .footer {
    
          display: flex;
          justify-content: center;
          align-items: center;
    
          .left {
            flex: 1;
    
          }
     
          
    
        }
        .check{
          margin-top: 10px;
        }
        .xieyi{
          text-decoration: underline;
          color: blue;
        }
      }
}

#register /deep/ {}