@import "@/styles/variable.scss";
#pwd {
    background-color: #F6F6F6;
}
.update-pwd {
    padding-top: 30px;
    // background-color: #fff;
    .title {
        padding: 15px 15px;
        font-size: 18px;
        // color: rgb(245, 0, 0);
    }
    .btn {
        margin-top: 25px;
    }
}

#pwd /deep/ {}