@import "@/styles/variable.scss";
#selects {
    padding: $page-padding;
    height: 100vh;
    .title{
    font-size: 20px;
    margin-bottom: 10px;   
    }
    .btn{
        margin-left: 10px;
        margin-bottom: 10px;
    }
    
  
}

#select /deep/ {}