.ol-map {
    position: relative;
    box-sizing: border-box;
    #container{
        width: 100vw;
        height: 300px
    }
    .inp{
        position: absolute;
        z-index: 10;
        background-color: white;
        left: 10px;
        top: 10px;
        display: flex;
        align-items: center;
        .left{
            padding: 5px;
            font-size: 14px;
            display: inline-block;
            background-color: #e9ecef;
            border: 1px solid #ced4da;
            border-radius: 4px 0 0 4px;
            height: 32px;
            line-height: 22px;
        }
        .right{
            padding: 6px;
            height: 32px;
        }
    }
      
    
      
   
}

.ol-map /deep/ {}